body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #87CEFA, #fdf497);
  animation: sunshine 6s ease-in-out infinite alternate;
  color: #333;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20%;
}

@keyframes sunshine {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}
